@import 'products';
@import 'cart';
@import 'payment';
@import 'layout';

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
    font-family:'S-CoreDream-3Light';
    margin : 0;
}

ul{
    list-style: none;
    padding:0;

}

a {color: #333; text-decoration: none; outline: none}

a:hover, a:active {text-decoration: none; color:#fff; background-color:#f59000;}
#root{
    max-width: 1920px;
    margin: 0 auto;
    padding:0 10px;
}


